@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Hej Jonas</h2>
    </hgroup>
    @using (Html.BeginForm())
    {
        <div>
            @Html.ActionLink("Back to List", "../Location/Index")
        </div>
    }
</body>
</html>